body { 
    display: grid;
    background-color: white;
    font-family: monospace;
    font-size: 14px;
    margin: 0;
    grid-template-areas: 
    "head"
    "main"
    "footer"
}

header {
    grid-area: head;
}

.navigatie-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 16px;
    width: 100vw;
}

.logo {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;  
    margin-left: 25px;
    background: -webkit-linear-gradient(#FF9F8C, #FFD493, #FFFFAD, #18FFB1, #9AFFFF, #A9BCFF, #FFBDDA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navigatiemenu {
    display: flex;
    justify-content: right;
    align-items: center;
    align-content: flex-end;
    margin: 0.57rem;
}

.regenboog-container {
    display: flex;
    height: 100vw;
    flex-flow: column wrap;
    animation: gradient 4s ease infinite;
    background-image: linear-gradient(#FF9F8C, #FFD493, #FFFFAD, #18FFB1, #9AFFFF, #A9BCFF, #FFBDDA); 
    text-align: center;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
    padding: 20px;
}

.blogpost {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    overflow: auto;
    flex-wrap: nowrap;
}


.content-container-rood {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    place-self: center;
    justify-self: center;
    text-align: center; 
    gap: 10px 10px;
    margin-left: 0px;
    background-color:#FF9F8C;
}

.contentrood {
    display: grid;
    min-width: 250px;
    min-height: 250px;
    max-width: 250px;
    background: rgb(227,75,16);
    background: linear-gradient(189deg, rgba(227,75,16,0.2189076314119398) 3%, rgba(255,159,140,1) 99%);
}

.content-container-oranje {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    text-align: center; 
    gap: 10px 10px;
    margin-left: 0px;
    background-color:#FFD493;
}

.contentoranje {
    display: grid;
    min-width: 250px;
    min-height: 250px;
    max-width: 250px;
     background: rgb(222,135,1);
    background: linear-gradient(189deg, rgba(222,135,1,1) 3%, rgba(255,212,147,1) 99%); 
}

.content-container-geel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    text-align: center; 
    gap: 10px 10px;
    margin-left: 0px;
    background-color:#FFFFAD;
}

.contentgeel {
    display: grid;
    min-width: 250px;
    min-height: 250px;
    max-width: 250px;
    background: rgb(255,255,173);
    background: linear-gradient(189deg, rgba(255,255,173,1) 3%, rgba(237,237,12,1) 40%, rgba(255,255,173,1) 99%); 
}

.content-container-groen {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    text-align: center; 
    gap: 10px 10px;
    margin-left: 0px;
    background-color:#18FFB1;
}

.contentgroen {
    display: grid;
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    background: rgb(24,255,177);
    background: linear-gradient(189deg, rgba(24,255,177,1) 3%, rgba(183,233,216,1) 49%, rgba(4,241,161,1) 99%); 
}

.content-container-blauw {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    text-align: center; 
    gap: 10px 10px;
    margin-left: 0px;
    background-color:#9AFFFF;
}

.contentblauw {
    display: grid;
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    background: rgb(0,255,255);
    background: linear-gradient(189deg, rgba(0,255,255,1) 3%, rgba(154,255,255,1) 49%, rgba(206,249,249,1) 99%); 
}

.content-container-paars {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    text-align: center; 
    gap: 10px 10px;
    margin-left: 0px;
    background-color:#A9BCFF;
}

.contentpaars {
    display: grid;
    min-width: 250px;
    max-width: 250px;
    max-width: 250px;
    min-height: 250px;
    background: rgb(169,188,255);
    background: linear-gradient(189deg, rgba(169,188,255,1) 3%, rgba(169,188,255,1) 49%, rgba(82,119,251,1) 99%); 
}

.content-container-roze {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    text-align: center; 
    gap: 10px 10px;
    margin-left: 0px;
    background-color:#FFBDDA;
}

.contentroze {
    display: grid;
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    background: rgb(240,52,135);
    background: linear-gradient(189deg, rgba(240,52,135,1) 1%, rgba(209,151,177,1) 49%, rgba(255,189,218,1) 99%); 
}

.contact-container {
    height: 100vw;
    animation: gradient 4s ease infinite;
    background-image: linear-gradient(#FF9F8C, #FFD493, #FFFFAD, #18FFB1, #18FFB1, #9AFFFF, #A9BCFF, #FFBDDA); 
    text-align: center;
    color: black;
    padding: 20px;
}    

input[type=text] , select, textarea {
    border: 1px solid black; 
    border-radius: 5px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
}

input[type=email] , select, textarea {
    border: 1px solid black; 
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical; 
}

textarea {
    width: 190px;
    box-sizing: content-box;
    border: 1px solid black;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
}

input[type=submit] {
    background-color:#A9BCFF;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid grey;
    cursor: pointer;
    margin-top: 6px;
    margin-bottom: 6px;
}

input[type=reset] {
    background-color: #A9BCFF;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    cursor: pointer;
    border: 1px solid grey;
    margin-top: 6px;
    margin-bottom: 6px;
}

a {
    color: black;
}

a:hover {
    color: white;   
}

footer { 
grid-area: footer;
}

.footer-copyright {
width: 100%;
padding: 10px;
display: flex;
justify-content: center;
align-content: center;
align-items: center;
}

***MEDIA QUERIES***
 
@media only screen and (min-width: 640px) and (max-width: 1920px){
.content-container-rood {
display: flex;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
flex-wrap: wrap;
align-items: center;
align-content: center;
justify-content: center;
      } }

///@media only screen and (max-width: 940px) {
.content-container-rood {
display: flex;
flex-wrap: wrap;
align-items: center;
align-content: center;
justify-content: center;
      } }

@media only screen and (max-width: 640px) {
.content-container-rood {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 align-content: center;
 justify-content: center;
      } }

@media only screen and (max-width: 340px) {
.content-container-rood {
display: flex;
         flex-wrap: wrap;
         align-items: center;
         align-content: center;
         justify-content: center;
              } }
        
@media only screen and (max-width: 1040px) {
.content-container-oranje {
display: flex;
flex-wrap: wrap;
align-items: center;
align-content: center;
justify-content: center;
          } }
    
@media only screen and (max-width: 940px) {
.content-container-oranje {
display: flex;
flex-wrap: wrap;
align-items: center;
align-content: center;
justify-content: center;
          } }
    
@media only screen and (max-width: 640px) {
.content-container-oranje {
display: flex;
flex-wrap: wrap;
align-items: center;
align-content: center;
justify-content: center;
          } }

@media only screen and (max-width: 1040px) {
.content-container-geel {
display: flex;
flex-wrap: wrap;
align-items: center;
align-content: center;
justify-content: center;
              } }
        
@media only screen and (max-width: 940px) {
.content-container-geel {
display: flex;
flex-wrap: wrap;
align-items: center;
align-content: center;
justify-content: center;
              } }
        
@media only screen and (max-width: 640px) {
.content-container-geel {
display: flex;
flex-wrap: wrap;
align-items: center;
align-content: center;
justify-content: center;
              } }

@media only screen and (max-width: 1040px) {
.content-container-groen {
display: flex;
flex-wrap: wrap;
align-items: center;
align-content: center;
justify-content: center;
                  } }
            
@media only screen and (max-width: 940px) {
.content-container-groen {
display: flex;
flex-wrap: wrap;
align-items: center;
align-content: center;
justify-content: center;
                  } }
            
@media only screen and (max-width: 640px) {
.content-container-groen {
display: flex;
flex-wrap: wrap;
align-items: center;
align-content: center;
justify-content: center;
                  } }

@media only screen and (max-width: 1040px) {
.content-container-blauw {
display: flex;
flex-wrap: wrap;
align-items: center;
align-content: center;
justify-content: center;
                      } }
                
@media only screen and (max-width: 940px) {
.content-container-blauw {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 align-content: center;
 justify-content: center;
                      } }
                
@media only screen and (max-width: 640px) {
.content-container-blauw {
display: flex;
flex-wrap: wrap;
align-items: center;
align-content: center;
justify-content: center;
                      } }

@media only screen and (max-width: 1040px) {
.content-container-paars {
display: flex;
flex-wrap: wrap;
align-items: center;
align-content: center;
justify-content: center;
                          } }
                    
@media only screen and (max-width: 940px) {
.content-container-paars {
display: flex;
flex-wrap: wrap;
align-items: center;
align-content: center;
justify-content: center;
                          } }
                    
@media only screen and (max-width: 640px) {
.content-container-paars {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
                          } }

@media only screen and (max-width: 1040px) {
.content-container-roze {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
                              } }
                        
@media only screen and (max-width: 940px) {
.content-container-roze {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
                              } }
                        
@media only screen and (max-width: 640px) {
.content-container-roze {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
                              } }